* {
	font-family: Calibri, Arial, Sans-serif;
	font-size: 24px;
	color: #2c625f;
	box-sizing: border-box;
}
html,body {
	padding: 0;
	margin: 0;
	height: 100%;
}
body {
	padding: 0;
	margin: 0;
	background: url("../img/beautiful_gradient.png");
	background-size: cover;
	background-position: center 0px;
	display: flex;
	flex-direction: column;
}
header, footer {
	background: #058a7e;
	padding: 40px 0;
}
header a {
	color: #fff;
}
header a:hover {
	color: #fca4ac;
}
header nav.flexy, footer.flexy {
	justify-content: space-evenly;
	margin: 0px;
}
main {
	margin: 0px auto;
    max-width: 1200px;
	flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
	@media (width < 1200px) {
		padding: 0 10px;
	}
}
footer {
	flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}
footer.flexy {
	color: #d1b6b8;
}
article {
	margin-top: 64px;
}
h1 {
	margin: 24px 0 ;
	font-size: 60px;
    font-weight: bold;
    color: rgb(255, 255, 255, 0.8);
}
h2 {
	font-size: 32px;
	margin: 0;
	margin-bottom: 4px;
    color: #fff;
    border-bottom: 1px solid;
	font-weight: bold;
}
.air {
    height: 20px;
    overflow: hidden;
}
.flexy {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	margin: 40px 0;
	gap: 40px;
}
.flexitem {
	flex-basis: 200px; 
	flex: 1;
}
.card {
	background-color: rgb(255, 255, 255, 0.4);
	padding: 12px 12px 12px 20px;
	border-radius: 4px;
	min-width: 280px; 
}
.card.dressup {
	background-position: center 16px;
	background-repeat: no-repeat;
	padding-top: 220px;
}
.card.summer {
	background-image: url("../img/summer.png");
}
.card.spring {
	background-image: url("../img/spring.png");
}
.card.winter {
	background-image: url("../img/winter.png");
}
.flexy .img {
	border: 2px dashed #d1b6b8;
	flex-basis: 373px;
	min-height: 200px;
	@media (width < 1200px) {
		flex: 2;
		min-width: 280px; 
	}
}
.flexy .img1 {
	background: url(../img/run1.jpg);
	background-size: cover;
}
.flexy .img2 {
	background: url(../img/run2.jpg);
	background-size: cover;
}
.flexy .txt {
	min-width: 280px;
	flex: 2;
}
.flexy .txt p {
	margin: 0 0 12px 0;
}
input[type=button] {
    background: #fca4ac;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    padding: 4px 12px 8px 12px;
    border: 2px solid #fff;
    box-shadow: -4px 4px 12px #2c625f;
	transition: box-shadow 0.2s;
	margin-bottom: 20px;
}
input[type=button]:hover {
    box-shadow: -2px 2px 2px #2c625f;
}
.gallery {
	border: 2px dashed #d1b6b8;
	min-height: 10px;
	overflow: hidden;
	display: none;
}
.refers a {
	text-decoration: none;
}
.refers a:hover {
	text-decoration: underline;
}

/* --- карусель --- >>> -------------------- */

.sheet {
	max-height: 400px;
	width: 100%;
	background-color: rgb(255, 255, 255, 0.2);
}
.sheet-item img {
    width: auto;
    height: 100%;
	margin: 0px auto;
}
.sheet-dots label::before {
	background: #04e4cc !important;
}

/* --- карусель --- <<< -------------------- */
